@import url(@/assets/styles/reset.css);

@import url(@/assets/styles/empty.css);
@import url(@/assets/styles/loading.css);

@import url(@/assets/styles/theme.css);

@import url(@/assets/styles/pages.css);
@import url(@/assets/styles/btns.css);
@import url(@/assets/styles/table.css);
@import url(@/assets/styles/form.css);
@import url(@/assets/styles/box.css);
@import url(@/assets/styles/pubs.css);

@import url(/systems/fonts/boschsans/boschsans.css);

.ant-form-item .ant-form-item-label > label {
  font-size: 1rem;
  font-weight: 700;
}

i.fa-solid + span {
  margin-left: 10px;
}

.box-login {
  input.ant-input {
    font-size: 18px;
  }
}

.code-block {
  position: relative;
  margin-bottom: 10px;
  color: #ffffff;
  border-radius: 6px;
  background: #2d2d2d;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .code-type {
    padding: 5px;
    color: #9d9d9d;
  }

  .code-copy {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 60px;
    float: left;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    line-height: 15px;
    border: none;
    border-radius: 3px;
    background: #c4cecf9d;
  }

  .hljs {
    position: relative;
    padding: 10px;
    max-width: 740px;
    overflow: auto;
  }
}
