.btn {
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
}

.btn:disabled {
    cursor: not-allowed;
    color: #bfc0c2;
    background: #525f6b;
    opacity: 0.7;
}

.btn.btn-tools {
    border: none;
    background: unset;
}

.btn-link {
    color: #008ecf;
    font-weight: 500;
    text-decoration: underline;
}

.btn.btn-default {
    color: #000;
    border: var(--color-gray);
    background: var(--color-gray);
}

.btn.btn-primary {
    color: #fff;
    border: var(--color-primary);
    background: var(--color-primary);
}

.btn.btn-success {
    color: #fff;
    border: var(--color-success);
    background: var(--color-success);
}

.btns {
    display: flex;
    column-gap: 5px;
}