/* 表单 */
/* .forms,
.form-row,
.form-item {
    width: 100%;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: column;
}

.inline {
    flex-direction: row;
    align-items: unset;
}

.form-item.col-12,
.form-item .col-12 {
    width: clac(100% - 5px);
}

.form-item.col-6,
.form-item .col-6 {
    width: clac(50% - 5px);
}

.form-item.col-8,
.form-item .col-8 {
    width: clac(66.6% - 5px);
}

.form-item.col-4,
.form-item .col-4 {
    width: clac(33.3% - 5px);
}

.form-item.col-9,
.form-item .col-9 {
    width: clac(75% - 5px);
}

.form-item.col-3,
.form-item .col-3 {
    width: clac(25% - 5px);
}

.form-item.col-10,
.form-item .col-10 {
    width: clac(83.3% - 5px);
}

.form-item.col-2,
.form-item .col-2 {
    width: clac(16.6% - 5px);
} */