.pages {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.page-header {
    position: relative;
    width: 100%;
    height: 60px !important;
    padding: 0 !important;
    background: #fff !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.headers {
    position: relative;
    width: 1250px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.logos {
    cursor: pointer;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
    width: 120px;
    height: 30px;
}

.logo-mini {
    display: none;
    width: 40px;
    height: 40px;
}

/* right */
.infos {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

/* langs */
.langs {
    display: flex;
    align-items: center;
}

.langs .img-lan {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

/* users */
.users {
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

/* contents */
.page-contents {
    width: 100%;
    height: calc(100vh - 60px) !important;
    overflow-y: auto;
    background: #f4f6f8;
}

.contents {
    width: 100%;
    height: calc(100vh - 60px);
    padding: 20px;
}

.page-contents.full,
.page-contents.full .contents {
    height: 100vh;
}