.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-item {
  width: 100%;
  min-height: 32px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.form-item label {
  font-weight: 700;
}
.form-item .required {
  margin-left: 3px;
  color: red;
}

.forms.inline,
.form-item.inline {
  flex-direction: row;
  align-items: center;
}

.col-1 {
  width: calc(8.3333333333% - 5px);
}
.col-2 {
  width: calc(16.6666666667% - 5px);
}
.col-3 {
  width: calc(25% - 5px);
}
.col-4 {
  width: calc(33.3333333333% - 5px);
}
.col-5 {
  width: calc(41.6666666667% - 5px);
}
.col-6 {
  width: calc(50% - 5px);
}
.col-7 {
  width: calc(58.3333333333% - 5px);
}
.col-8 {
  width: calc(66.6666666667% - 5px);
}
.col-9 {
  width: calc(75% - 5px);
}
.col-10 {
  width: calc(83.3333333333% - 5px);
}
.col-11 {
  width: calc(91.6666666667% - 5px);
}
.col-12 {
  width: calc(100% - 5px);
}
